<%+header%>
<% local pubtoken = luci.model.uci.cursor():get("wiomw", "agent", "pubtoken") %>
<% local privtoken = luci.model.uci.cursor():get("wiomw", "agent", "privtoken") %>
<% local agentkey = luci.model.uci.cursor():get("wiomw", "agent", "agentkey") %>
<div class="cbi-map">
 <fieldset class="cbi-section" id="cbi-apply-wiomw">
  <legend><%:Status%></legend>
  <img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" />
  <span id="cbi-apply-wiomw-status"><%:Loading%></span>
 </fieldset>
 <div id="wiomw_placeholder">
 </div>
</div>
<script type="text/javascript">
//<![CDATA[

function reload_page() {
	location.reload();
}

function restart_service_and_reload() {
	$("#cbi-apply-wiomw-status").html("<%:Restarting service...%>");
	$("#cbi-apply-wiomw").show();
	$.ajax({
		type: "GET",
		url: "<%=luci.dispatcher.build_url("servicectl", "restart", "wiomw")%>"
	}).done(reload_page);
}

function save_agent_credentials(pubtoken, privtoken, agentkey, alsoApply) {
	var cbi_form = document.createElement("form");
	cbi_form.enctype = "multipart/form-data";

	var submit_input = document.createElement("input");
	submit_input.type = "hidden";
	submit_input.name = "cbi.submit";
	submit_input.value = "1";
	cbi_form.appendChild(submit_input);

	var pubtoken_input = document.createElement("input");
	pubtoken_input.type = "hidden";
	pubtoken_input.name = "cbid.wiomw.agent.pubtoken";
	pubtoken_input.value = pubtoken;
	cbi_form.appendChild(pubtoken_input);

	var privtoken_input = document.createElement("input");
	privtoken_input.type = "hidden";
	privtoken_input.name = "cbid.wiomw.agent.privtoken";
	privtoken_input.value = privtoken;
	cbi_form.appendChild(privtoken_input);

	var agentkey_input = document.createElement("input");
	agentkey_input.type = "hidden";
	agentkey_input.name = "cbid.wiomw.agent.agentkey";
	agentkey_input.value = agentkey;
	cbi_form.appendChild(agentkey_input);

	if (alsoApply) {
		var apply_input = document.createElement("input");
		apply_input.type = "hidden";
		apply_input.name = "cbi.apply";
		apply_input.value = "Save & Apply";
		cbi_form.appendChild(apply_input);
	}

	$.ajax({
		type: "POST",
		url: "<%=luci.dispatcher.build_url("wiomw", "basic")%>",
		data: $(cbi_form).serialize()
	}).done(alsoApply ? restart_service_and_reload : reload_page);
}

function handle_messages() {
	$.receiveMessage(function(e) {
		if (e.origin != 'https://www.whoisonmywifi.net') {
			$.postMessage($.toJSON({'errors':['Bad origin']}), 'https://www.whoisonmywifi.net', $('#iframe').get(0).contentWindow);
		} else if (e.data != '') {
			var data = $.parseJSON(e.data);
			if ('errors' in data && data.errors.length != 0) {
				/* TODO */
			} else if ('ready' in data && data.ready === true) {
				$.postMessage($.toJSON({'pubtoken':'<%=pubtoken%>','privtoken':'<%=privtoken%>','agentkey':'<%=agentkey%>'}), 'https:/www.whoisonmywifi.net', $('#iframe').get(0).contentWindow);
			} else if ('pubtoken' in data
					&& 'privtoken' in data
					&& 'agentkey' in data) {
				var apply = false;
				if ('apply' in data && data.apply === true) {
					apply = true;
				}
				save_agent_credentials(data.pubtoken, data.privtoken, data.agentkey, apply);
			}
		}
	});
	$('#wiomw_placeholder').html('<iframe id="iframe" src="https://www.whoisonmywifi.net/api/v100/rest/iframe_luci.php?protocol=' + encodeURIComponent(window.location.protocol) + '&host=' + encodeURIComponent(window.location.host) + '"></iframe>');
	$("#cbi-apply-wiomw").hide();
}

function check_jquery_postmessage() {
	if (!jQuery().postMessage) {
		var jqp = document.createElement('script');
		jqp.type = 'text/javascript';
		jqp.src = 'https://www.whoisonmywifi.net/api/v100/rest/js/jquery.ba-postmessage-0.5.min.js';
		jqp.onload = handle_messages;
		document.getElementsByTagName('head')[0].appendChild(jqp);
	} else {
		$(document).ready(handle_messages);
	}
}

function check_jquery_browser() {
	if (!jQuery().browser) {
		var jqb = document.createElement('script');
		jqb.type = 'text/javascript';
		jqb.src = 'https://www.whoisonmywifi.net/api/v100/rest/js/jquery.browser-0.0.7.min.js';
		jqb.onload = check_jquery_postmessage;
		document.getElementsByTagName('head')[0].appendChild(jqb);
	} else {
		$(document).ready(check_jquery_postmessage);
	}
}

function check_jquery_json() {
	if (!jQuery().json) {
		var jqj = document.createElement('script');
		jqj.type = 'text/javascript';
		jqj.src = 'https://www.whoisonmywifi.net/js/jquery.json-2.4.min.js';
		jqj.onload = check_jquery_browser;
		document.getElementsByTagName('head')[0].appendChild(jqj);
	} else {
		$(document).ready(check_jquery_browser);
	}
}

if (!window.jQuery) {
	var jq = document.createElement('script');
	jq.type = 'text/javascript';
	jq.src = 'https://www.whoisonmywifi.net/js/jquery-1.9.1.min.js';
	jq.onload = check_jquery_json;
	document.getElementsByTagName('head')[0].appendChild(jq);
} else {
	$(document).ready(check_jquery_json);
}


//]]>
</script>
<%+footer%>
